*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------variables------------------------------------------------------------------------*/
:root {
  --main-font-family: "Roboto", Arial, sans-serif;
  --main-font-size: 16px;
  --main-color: #1a0a03;
  --main-color-dark-red: rgb(199, 42, 7);
  --max-width: 1200;
  --color-bg: #fff;
  --height-header: 70px;
  --burger-icon-color: #1a0a03;
  --burger-bg-color: rgba(255, 255, 255, 0.9);
  --burger-bg-color-before: #fff;
}

html,
body {
  height: 100%;
  line-height: 1.6;
  background: var(--color-bg);
  font-size: var(--main-font-size);
  color: var(--main-color);
  font-weight: 400;
  font-family: var(--main-font-family);
}

body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-------------------------------adaptivValue----------------------------------------------------------------------*/
/*-------------------------------------------------BEM--------------------------------------------------------------------*/
.button {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  min-width: 59px;
  min-height: 54px;
  background-color: #ee5514;
  padding: 15px 30px;
  text-align: center;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.button:hover {
  color: #ee5514;
  background-color: #ffffff;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.parallelogram {
  max-width: 400px;
  padding: 5px;
  background-color: #fff;
  border: 1px dashed #1a0a03;
}
@media (min-width: 666px) {
  .parallelogram {
    padding: 10px 0 10px 30px;
    transform: skewX(30deg);
  }
}

/*----------------------------------------------------------------MENU-------------------------------------------------------------*/
.menu__icon {
  display: none;
}
.menu__link {
  color: var(--main-color);
  font-size: 16;
}

@media (max-width: 1050px) {
  .menu__icon {
    position: relative;
    z-index: 5;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span,
  .menu__icon::after,
  .menu__icon::before {
    right: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--burger-icon-color);
  }
  .menu__icon::after,
  .menu__icon::before {
    content: "";
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--burger-bg-color);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: var(--burger-bg-color-before);
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list li:not(:last-child) {
    margin-bottom: 30px;
  }
  .menu__link {
    font-size: 24px;
  }
  .header__tel {
    display: none;
  }
}
/*--------------------------------------------------------------TREATMENT-BLOCK ---------------------------------------------------------------------*/
.treatment-block__body {
  max-width: 501px;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 40px 4px rgba(94, 16, 16, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d6ddb5;
}
.treatment-block__title {
  color: var(--main-color);
  font-size: 24px;
  line-height: 1.25;
  font-weight: 500;
  margin-bottom: 20px;
}
.treatment-block__label {
  color: #242424;
  margin-bottom: 10px;
}
.treatment-block__input {
  line-height: 150%;
  padding: 0 0 0 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.treatment-block__input:not(:last-child) {
  margin-bottom: 20px;
}
.treatment-block__submit {
  display: flex;
  justify-content: center;
}
.treatment-block__text {
  margin-top: 10px;
  text-align: center;
}

/*-----------------------------------------------------------------HEADER----------------------------------------------------------*/
.header {
  position: relative;
  z-index: 3;
  height: var(--height-header);
  background-color: var(--color-bg);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__logo img {
  height: 40px;
}
@media (min-width: 1050px) {
  .header__menu {
    width: 600px;
    padding: 0 10px;
  }
}
@media (min-width: 1050px) {
  .header__menu .menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__tel a {
  color: var(--main-color);
  font-weight: 700;
}

/*-----------------------------------------------------------------MAIN----------------------------------------------------------*/
.page {
  padding-top: 70px;
  flex-grow: 1;
}

/*--------------------------------------------------------MAIN-BLOCK-----------------------------------------------------------------------*/
.page__main-block {
  position: relative;
}

.main-block__container {
  position: relative;
  z-index: 2;
  text-align: center;
}
@media (min-width: 1050px) {
  .main-block__container {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
}
.main-block__title {
  color: var(--main-color);
  font-size: 26px;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 10px;
  padding-top: 20px;
}
@media (min-width: 1050px) {
  .main-block__title {
    padding-top: 100px;
  }
}
@media (min-width: 760px) {
  .main-block__title {
    font-size: 52px;
  }
}
.main-block__subtitle {
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (min-width: 760px) {
  .main-block__subtitle {
    font-size: 22px;
  }
}
.main-block__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1050px) {
  .main-block__list {
    display: block;
  }
}
.main-block__item:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 760px) {
  .main-block__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.main-block__icon {
  width: 30px;
  height: 30px;
}
.main-block__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo-owner-block__image {
  position: relative;
}
@media (max-width: 1050px) {
  .photo-owner-block__image img {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .photo-owner-block__image img {
    width: 300px;
  }
}
.photo-owner-block__block {
  position: absolute;
  bottom: 20px;
  left: 120px;
}
@media (max-width: 1336px) {
  .photo-owner-block__block {
    left: 60px;
  }
}
@media (max-width: 1050px) {
  .photo-owner-block__block {
    left: 30%;
  }
}
@media (max-width: 566px) {
  .photo-owner-block__block {
    left: 0;
    bottom: 10px;
  }
}
.photo-owner-block__body {
  font-size: 14px;
}
@media (min-width: 666px) {
  .photo-owner-block__body {
    transform: skewX(-30deg);
    font-size: 16px;
  }
}
.photo-owner-block__title {
  font-weight: 700;
}
.photo-owner-block__subtitle span {
  color: var(--main-color-dark-red);
}

/*-----------------------------------------------------TREATMENT--------------------------------------------------------------------------------------------------*/
@media (min-width: 1050px) {
  .page__treatment .treatment-block__body {
    display: flex;
    max-width: 100%;
  }
  .page__treatment .treatment-block__form {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

/*-----------------------------------------------------------------FOOTER----------------------------------------------------------*/
.footer {
  height: 100px;
  background-color: #bde700;
}