*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------variables------------------------------------------------------------------------*/

$maxWidth: 1200;
$Orange: #ee5514;
$Black: #1a0a03;
$White: #ffffff;
$SourceSerifPro: "Source Serif Pro", serif;
$Poppins: "Poppins", sans-serif;

:root {
  --main-font-family: "Roboto", Arial, sans-serif;
  --main-font-size: 16px;
  --main-color: #1a0a03;
  --main-color-dark-red: rgb(199, 42, 7);
  --max-width: 1200;
  --color-bg: #fff;
  --height-header: 70px;
  --burger-icon-color: #1a0a03;
  --burger-bg-color: rgba(255, 255, 255, 0.9);
  --burger-bg-color-before: #fff;
}

html,
body {
  height: 100%;
  line-height: 1.6;
  background: var(--color-bg); //для теми
  font-size: var(--main-font-size);
  color: var(--main-color);
  font-weight: 400;
  font-family: var(--main-font-family);
}
body._lock {
  overflow: hidden;
}
[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
/*-------------------------------adaptivValue----------------------------------------------------------------------*/
@mixin adaptivValue($property, $stratSize, $miniSize) {
  $addSize: $stratSize - $miniSize;
  #{$property}: calc(
    #{$miniSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
  );
}
/*-------------------------------------------------BEM--------------------------------------------------------------------*/
.order_1{
  order: 2;
}
.order_2{
  order: 1;
}
.button {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: $White;
  min-width: 59px;
  min-height: 54px;
  background-color: $Orange;
  padding: 15px 30px;
  text-align: center;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  &:hover {
    color: $Orange;
    background-color: $White;
  }
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.parallelogram {
  max-width: 400px;
  padding: 5px;
  background-color: #fff;
  border: 1px dashed #1a0a03;
  // @media (min-width: 970px) {
  //   padding: 10px 0 10px 30px;
  //   transform: skewX(130deg);
  // }
}

/*----------------------------------------------------------------MENU-------------------------------------------------------------*/

.menu {
  // .menu__icon

  &__icon {
    display: none;
  }

  // .menu__body

  &__body {
  }

  // .menu__list

  &__list {
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    color: var(--main-color);
    font-size: 16;
  }
}

@media (max-width: 1050px) {
  .menu__icon {
    position: relative;
    z-index: 5;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;

    span {
    }

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  .menu__icon span,
  .menu__icon::after,
  .menu__icon::before {
    right: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--burger-icon-color);
  }
  .menu__icon::after,
  .menu__icon::before {
    content: "";
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active {
    span {
      transform: scale(0) translate(0px, -50%);
    }
    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }
    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--burger-bg-color);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;

    &::before {
      content: "";
      position: fixed;
      z-index: 2;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
      background-color: var(--burger-bg-color-before);
    }
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list {
    li {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  .menu__link {
    font-size: 24px;
  }
  .header__tel {
    display: none;
  }
}

/*--------------------------------------------------------------TREATMENT-BLOCK ---------------------------------------------------------------------*/

.treatment-block {

    // .treatment-block__body

    &__body {
        max-width: 501px;
        padding: 20px 30px;
        border-radius: 20px;
        box-shadow: 10px 10px 40px 4px rgba(94, 16, 16, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #d6ddb5;
    }

    // .treatment-bloc__title

    &__title {
        color: var(--main-color);
    font-size: 24px;
    line-height: 1.25;
    font-weight: 500;
    margin-bottom: 20px;
    }

    // .treatment-bloc__form

    &__form {
    }

    // .treatment-bloc__label

    &__label {
        color: #242424;
        margin-bottom: 10px;
    }

    // .treatment-bloc__input

    &__input {
        line-height: 150%;
        padding: 0 0 0 16px;
        width: 100%;
        height: 50px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        // border-radius: 5px 0 0 5px;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    // .treatment-bloc__submit

    &__submit {
        display: flex;
        justify-content: center;
    }

    //treatment-bloc__text

    &__text{
        margin-top: 10px;
        text-align: center;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.teeth-list {
  @media (min-width: 1050px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(30px, 1fr));
    row-gap: 60px;
    column-gap: 60px;
  }
  

  // .teeth-list__item

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    @media (min-width: 1050px) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  // .teeth-list__image

  &__image {
    width: 230px;
    height: 143px;
    box-shadow: 6px 6px 30px 3px rgba(97, 5, 5, 0.4);
    border-radius: 10px;
  }

  // .teeth-list__body

  &__body {
    text-align: center;
    @media (min-width: 1050px) {
      text-align: start;
    }
    
  }

  // .teeth-list__title

  &__title {
    font-weight: 700;
    font-size: 18px;
  }

  // .teeth-list__text

  &__text {
  }
}

/*-----------------------------------------------------------------HEADER----------------------------------------------------------*/

.header {
  position: relative;
  z-index: 3;
  height: var(--height-header);
  background-color: var(--color-bg);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    position: relative;
    z-index: 5;
    img {
      height: 40px;
    }
  }

  &__menu {
    @media (min-width: 1050px) {
      width: 600px;
      padding: 0 10px;
    }

    .menu__list {
      @media (min-width: 1050px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  &__tel {
    a {
      color: var(--main-color);
      font-weight: 700;
    }
  }
}

/*-----------------------------------------------------------------MAIN----------------------------------------------------------*/

.page {
  padding-top: 70px;
  flex-grow: 1;
}

/*--------------------------------------------------------MAIN-BLOCK-----------------------------------------------------------------------*/

.page {
  // .page__main-block

  &__main-block {
    position: relative;
  }
}
.main-block {
  // .main-block__container

  &__container {
    position: relative;
    z-index: 2;
    text-align: center;
    @media (min-width: 1050px) {
      display: flex;
      justify-content: space-between;
      text-align: start;
    }
  }

  // .main-block__content

  &__content {
  }

  // .main-block__title

  &__title {
    color: var(--main-color);
    font-size: 26px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 20px;
    @media (min-width: 1050px) {
      padding-top: 100px;
    }
    @media (min-width: 760px) {
      font-size: 52px;
    }
  }

  // .main-block__subtitle

  &__subtitle {
    color: var(--main-color);
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
    margin-bottom: 20px;
    @media (min-width: 760px) {
      font-size: 22px;
    }
  }

  // .main-block__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1050px) {
      display: block;
    }
  }

  // .main-block__item

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @media (min-width: 760px) {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  // .main-block__icon

  &__icon {
    width: 30px;
    height: 30px;
  }

  // .main-block__text

  &__text {
  }

  // .main-block__bg

  &__bg {
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
  }

  &__photo-owner-block {
  }
}
.photo-owner-block {
  // .photo-owner-block__image

  &__image {
    position: relative;
    img {
      @media (max-width: 1050px) {
        width: 400px;
      }
      @media (max-width: 600px) {
        width: 300px;
      }
    }
  }

  // .photo-owner-block__block

  &__block {
    position: absolute;
    bottom: 20px;
    left: 120px;
    @media (max-width: 1336px) {
      left: 60px;
    }
    @media (max-width: 1050px) {
      left: 30%;
    }
    @media (max-width: 566px) {
      left: 0;
      bottom: 10px;
    }
  }

  // .photo-owner-block__body

  &__body {
    font-size: 14px;
    @media (min-width: 666px) {
      transform: skewX(-30deg);
      font-size: 16px;
    }
  }

  // .photo-owner-block__title

  &__title {
    font-weight: 700;
  }

  // .photo-owner-block__subtitle

  &__subtitle {
    span {
      color: var(--main-color-dark-red);
    }
  }
}

/*-----------------------------------------------------TREATMENT--------------------------------------------------------------------------------------------------*/

.page {

    // .page__treatment

    &__treatment {
    @media (min-width: 1050px) {
        .treatment-block__body{
            display: flex;
            max-width: 100%;
        }
        .treatment-block__form{
            width: 1000px;
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
    }
        
    }
}

/*-------------------------------------------------------PERFECT-TEETH---------------------------------------------------------------------------------------*/

.page {

  // .page__perfect-teeth

  &__perfect-teeth {
  }
}
.perfect-teeth {

  // .perfect-teeth__container

  &__container {
    margin-bottom: 50px;
  }


  // .perfect-teeth__title

  &__title {
    color: var(--main-color);
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    margin: 15px 0;
    @media (min-width: 1050px) {
      font-size: 36px;
      text-align: start;
      margin: 30px 0;
    }
  }

  // .perfect-teeth__list

  &__list {
    margin-bottom: 15px;
    @media (min-width: 1050px) {
      margin-bottom: 30px;
    }
    
  }

  // .perfect-teeth__phrase

  &__phrase {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0px 40px 4px rgba(59, 38, 21, 0.1);
    border-radius: 10px;
    @media (min-width: 1050px) {
      font-size: 24px;
    }
    
  }
}


/*-------------------------------------------------------SMILE-IMPLANT----------------------------------------------------------------------------------------------------------*/

.page {

  // .page__smile-implant

  &__smile-implant {
  }
}
.smile-implant {

  // .smile-implant__container

  &__container {
    padding-bottom: 50px;
  }

  // .smile-implant__title

  &__title {
    
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
    @media (min-width: 1050px){
      font-size: 36px;
      text-align: start;
      padding-top: 30px;
    }
  }

  // .smile-implant__subtitle

  &__subtitle{
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
    @media (min-width: 1050px){
      font-size: 20px;
      text-align: start;
    }
  }

  // .smile-implant__image

  &__image {
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      @media (min-width: 730px) {
        width: 700px;
      }
    }
  }
}


/*----------------------------------------------------------------------SUGGESTIONS------------------------------------------------------------------------------------------*/

.page {

  // .page__suggestions

  &__suggestions {
  }
}
.suggestions {

  // .suggestions__container

  &__container {
  }

  // .suggestions__title

  &__title {
    font-size: 34px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 20px;
  }

  // .suggestions__contant

  &__contant {
    
    @media (min-width: 1140px) {
      display: flex;
      justify-content: space-between;
    }
  }

  // .suggestions__left

  &__left {
  }

  // .suggestions__subtitle

  &__subtitle {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;

    &_one{
      margin-bottom: 20px;
      @media (min-width: 570px) {
        margin-bottom: 50px;
      }
    }
    &_two{
      margin-top: 20px;
      @media (min-width: 570px) {
        margin-top: 60px;
      }
    }
  }

  // .suggestions__list

  &__list {
    display: grid;
    row-gap: 30px;
    @media (min-width: 570px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(30px, 1fr));
    row-gap: 60px;
    }
      
  }

  // .suggestions__item

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .suggestions__icon

  &__icon{

  }

  // .suggestions__text

  &__text{
    font-size: 20px;
    line-height: 1.55;
    font-weight: 400;
    @media (min-width: 570px) {
      font-size: 22px;
    }
  }

  // .suggestions__image

  &__image {
    display: flex;
    justify-content: center;
    img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 4px rgba(59, 38, 21, 0.4);
    @media (min-width: 570px) {
      width: 552px;
    height: 368px;
    }
    }
    
  }
}

/*-------------------------------------------------------------------------DIGITAL-PROTOCOL-------------------------------------------------------------------------------------------------*/

.page {

  // .page__digital-protocol

  &__digital-protocol {
    padding-bottom: 50px;
  }
}
.digital-protocol {

  // .digital-protocol__container

  &__container {
  }

  // .digital-protocol__title

  &__title {
    font-size: 36px;
    font-weight: 500;
  }

  // .digital-protocol__list

  &__list {
  }

  // .digital-protocol__item

  &__item {
    @media (min-width: 760px) {
      display: flex;
      justify-content: space-between;
    align-items: center;
    gap: 20px;
    }
    margin-bottom: 30px;
    

  }

  // .digital-protocol__image

  &__image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    @media (min-width: 760px) {
      display: block;
      margin-bottom: 0px;
    }
    img{
      width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    background-color: #fff705;
    box-shadow: 10px 10px 40px 4px rgba(102, 52, 11, 0.4);
    @media (min-width: 760px) {
      width: 499px;
    height: 241px;
    }
    }
    &_2{
      img{
        @media (min-width: 760px) {
        //   width: 310px;
        // height: 297px;
        }
      }
    }
  }

  // .digital-protocol__body

  &__body {
    text-align: center;
    @media (min-width: 760px) {
      max-width: 600px;
      text-align: start;
    }
    p{
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
  }

  // .digital-protocol__title-item

  &__title-item {
    font-size: 24px;
    line-height: 1.55;
    font-weight: 600;
    margin-bottom: 20px;
  }

  // .digital-protocol__video

  &__video {
    position: relative;
  }
}
.video-protocol {

  // .video-protocol__parallelogram

  &__parallelogram {
  }

  // .video-protocol__title

  &__title {
    transform: skewX(-130deg);
    font-size: 18px;
    line-height: 1.35;
  }

  // .video-protocol__button-play

  &__button-play {
   
    position: absolute;
    top: -110%;
    left: -18%;
    transform: skewX(-130deg);
    img{
      width: 150px;
      height: 150px;
    }
  }
}

/*--------------------------------------------------------------------------STANDARDS---------------------------------------------------------------------------------------------*/

.page {

  // .page__standards

  &__standards {
    padding-bottom: 100px;
  }
}
.standards {

  // .standards__container

  &__container {
  }

  // .standards__title

  &__title {
    font-size: 36px;
    font-weight: 500;
    max-width: 860px;
    margin-bottom: 20px;
  }

  // .standards__content

  &__content {
    max-width: 960px;
    margin-bottom: 50px;
    margin-bottom: 80px;
    p{
      font-size: 18px;
      font-weight: 300;
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
  }

  // .standards__images

  &__images {
    position: relative;
    display: flex;
    flex-direction: column;
    @media (min-width: 1050px) {
      flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
  }

  // .standards__image

  &__image {
    width: 270px;
    
    border-radius: 25px;
    background-size: cover;
    box-shadow: 10px 10px 40px 4px rgba(38, 47, 112, 0.3);

    @media (min-width: 550px) {
      width: 420px;
    height: 262px;
    }

    // .standards__image_1

    &_1 {
    }

    // .standards__image_2

    &_2 {
      align-self: center;
      transform: translate(0, -30%);
      @media (min-width: 1050px) {
        position: absolute;
      top: -15%;
      left: 28%;
      z-index: 2;
      width: 550px;
      height: 343px;
      transform: none;
      align-self: normal;
      }
      
    }

    // .standards__image_3

    &_3 {
      transform: translate(0, -40%);
      align-self: flex-end;
      @media (min-width: 1050px) {
        transform: none;
      align-self: normal
      }
    }
  }
}

/*-----------------------------------------------------REVIEW-------------------------------------------------------------------------------*/

.page {

  // .page__review

  &__review {
  }
}
.review {

  // .review__container

  &__container {
  }

  // .review__title

  &__title {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 500;
    max-width: 1050px;
  }

  // .review__body

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media (min-width: 1221px) {
      justify-content: space-between;
    }
  }

  // .review__image

  &__image {
    img{
      width: 100%;
      @media (min-width: 1221px) {
        width: 690px;
      }
    }
  }

  // .review__treatment

  &__treatment {
  }
}
.treatment-block {

  // .treatment-block__body

  &__body {
  }

  // .treatment-block__title

  &__title {
  }

  // .treatment-block__form

  &__form {
  }

  // .treatment-block__label

  &__label {
  }

  // .treatment-block__input

  &__input {
  }

  // .treatment-block__submit

  &__submit {
  }

  // .treatment-block__text

  &__text {
  }
}

/*----------------------------------------------------------------HELP-YOU-------------------------------------------------------------------*/


.page {

  // .page__help-you

  &__help-you {
  }
}
.help-you {

  // .help-you__container

  &__container {
  }

  // .help-you__title

  &__title {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 40px;
  }

  // .help-you__list

  &__list {
  }
}


/*----------------------------------------------------RECOMMENDATIONS-----------------------------------------------------------------------------------------*/

.page {

  // .page__recommendations

  &__recommendations {
  }
}
.recommendations {

  // .recommendations__container

  &__container {
  }

  // .recommendations__title

  &__title {
  }

  // .recommendations__body

  &__body {
    display: grid;
  grid-template-rows: 1fr;
  @media (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1150px) {
    grid-template-columns: repeat(4, 1fr);
  }
  }
  

  // .recommendations__item

  &__item {
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      @media (min-width: 400px) {
        width: 272px;
      height: 372px;
      }
    }
  }
}


/*---------------------------------------------------------------FEEDBACK---------------------------------------------------------------------------------------------*/

.page {

  // .page__feedback

  &__feedback {
  }
}
.feedback {

  // .feedback__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .feedback__title

  &__title {
  }

  // .feedback__button

  &__button {
  }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.page {

  // .page__works

  &__works {
    padding-bottom: 20px;
  }
}
.works {

  // .works__container

  &__container {
  }

  // .works__title

  &__title {
  }

  // .works__cards

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    @media (min-width: 1114px) {
      justify-content: space-between;
    }
  }

  // .works__card

  &__card {
    max-width: 532px;
    padding: 30px;
    background-color: #fffbf7;
    box-shadow: 0px 0px 50px 5px rgba(59, 38, 21, 0.1);
    border-radius: 10px;
    
  }
}
.card {

  // .card__body

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    
  }

  // .card__text-block

  &__text-block {
  }

  // .card__title

  &__title {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 5px;
  }

  // .card__text

  &__text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 15px;
  }

  // .card__list

  &__list {
    flex-grow: 1;
    margin-bottom: 10px;
  }

  // .card__item

  &__item {
  }

  // .card__buttons

  &__buttons {
  }

  // .card__button

  &__button {
  }
}
.item-card {

  display: flex;
  align-items: center;
  gap: 10px;
  &:not(:last-child){
    margin-bottom: 10px;
  }

  // .item-card__plus

  &__plus {
    color: #e65151;
    font-size: 36px;
    line-height: 0.55;
    font-weight: 400;
  }

  // .item-card__body

  &__body {
  }

  // .item-card__title

  &__title {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
  }

  // .item-card__text

  &__text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
  }
}


/*----------------------------------------------------------------------YOU-ACTION-------------------------------------------------------------------------------------------------*/


.page {

  // .page__you-action

  &__you-action {
  }
}
.you-action {

  // .you-action__container

  &__container {
  }

  // .you-action__title

  &__title {
  }

  // .you-action__content

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media (min-width: 1050px) {
      flex-direction: row;
    }
  }

  // .you-action__image

  &__image {
    img{
      width: 100%;
      @media (min-width: 1050px) {
        width: 499px;
        height: 185px;
      }
    }
  }

  // .you-action__text

  &__text {
  }

  // .you-action__treatment

  &__treatment {
    .treatment-block__body{
      max-width: 100%;
      display: block;
    }
  }
}


/*------------------------------------------------------------PROCEDURE-WORKS---------------------------------------------------------------------------------*/

.page {

  // .page__procedure-works

  &__procedure-works {
  }
}
.procedure-works {

  // .procedure-works__container

  &__container {
  }

  // .procedure-works__title

  &__title {
  }

  // .procedure-works__list

  &__list {
  }

  // .procedure-works__item

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    @media (min-width: 1050px) {
      flex-direction: row;
      align-items: normal;
    }
  }

  // .procedure-works__image

  &__image {
    img{
      width: 100%;
      border-radius: 25px;
      box-shadow: 10px 10px 40px 4px rgba(110, 84, 58, 0.4);
      @media (min-width: 500px) {
        width: 495px;
      height: 353px;
      }
    }
    
  }

  // .procedure-works__body

  &__body {
    display: flex;
    flex-direction: column;
    p{
      font-size: 18px;
      line-height: 1.45;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }

  // .procedure-works__stage

  &__stage {
    color: #3e7ce2;
    font-size: 34px;
    line-height: 1.7;
    font-weight: 600;
    margin-bottom: 20px;
    
  }

  // .procedure-works__result

  &__result {
    flex-grow: 1;
  }

  // .procedure-works__button

  &__button {
    margin-top: 20px;
  }
}
.result-procedure-works {

  //result-procedure-works__text

  &__text{
    font-size: 18px;
      line-height: 1.45;
      font-weight: 300;
  }

  // .result-procedure-works__list

  &__list {
  }

  // .result-procedure-works__item

  &__item {
  
  }
}
.procedure-works__image.order_1{
  @media (max-width: 1049px) {
    order: 0;

  }
}


/*----------------------------------------------------DOCTORS--------------------------------------------------------------------------------*/

.page {

  // .page__doctors

  &__doctors {
  }
}
.doctors {

  // .doctors__container

  &__container {
  }

  // .doctors__list

  &__list {
    @media (min-width: 600px) {
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
      
    }
@media (min-width: 1050px) {
  grid-template-columns: repeat(4, 1fr);
}

  }

  // .doctors__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .doctors__image

  &__image {
    width: 260px;
    height: 250px;
    margin-bottom: 10px;
  }

  // .doctors__title

  &__title {
    font-size: 26px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 5px;
  }

  // .doctors__subtitle

  &__subtitle {
    font-weight: 300;
  }
}

/*-------------------------------------------------------FOLLOW---------------------------------------------------------------------------------------------------*/

.page {

  // .page__follow

  &__follow {
  }
}
.follow {

  // .follow__container

  &__container {
  }

  // .follow__title

  &__title {
  }

  // .follow__content

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media (min-width: 1100px) {
        flex-direction: row;
    }
  }

  // .follow__image

  &__image {
  }

  // .follow__body

  &__body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1100px) {
      padding-right: 150px;
    }
  }

  // .follow__subtitle

  &__subtitle {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 15px;
    @media (min-width: 1100px) {
      margin-bottom: 50px;
    }
  }

  // .follow__parallelogram

  &__parallelogram {
    margin-bottom: 20px;
    @media (min-width: 1100px) {
      margin-bottom: 50px;
    }
  }

  // .follow__text

  &__text {
    @media (min-width: 420px) {
      font-size: 20px;
      line-height: 1.35;
      font-weight: 700;
    }
  }

  // .follow__button

  &__button {
  }
}



/*----------------------------------------------------------AMENITIES--------------------------------------------------------------------------------------*/

.page {

  // .page__amenities

  &__amenities {
  }
}
.amenities {

  // .amenities__container

  &__container {
  }

  // .amenities__title

  &__title {
  }

  // .amenities__list

  &__list {
  
  }

  // .amenities__item

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    &:not(:last-child){
      margin-bottom: 20px;
    }
   
    @media (min-width: 1070px) {
      flex-direction: row;
      
      &:not(:last-child){
        margin-bottom: 0;
      }
    }
  }

  // .amenities__body

  &__body {
    .item-card {
      &:not(:last-child){
        margin-bottom: 20px;
      }
      @media (min-width: 1070px) {
        &:not(:last-child){
          margin-bottom: 40px;
        }
      }

      // .item-card__plus
    
      &__plus {
        margin-right: 10px;
        img{
          width: 45px;
        }
        
      }
    
      // .item-card__body
    
      &__body {
        max-width: 460px;
      }
    
      // .item-card__text
    
      &__text {
      }
    }
    
  }

  // .amenities__image

  &__image{
    margin-bottom: 10px;
    
    @media (min-width: 1070px) {
      margin-bottom: 0;
    }
    img{
      width: 100%;
      border-radius: 25px;
      box-shadow: 10px 10px 40px 4px rgba(61, 34, 34, 0.4);
      @media (min-width: 520px) {
        width: 500px;
      height: 360px;
      }
    }
    

  }

  // .amenities__card

  &__card {
  }
}
.amenities__image.order_1{
  @media (max-width: 1069px) {
    order: 0;
  }
  
}





/*-----------------------------------------------------------------FOOTER----------------------------------------------------------*/
.footer {
  height: 100px;
  background-color: #bde700;
}
